.jOrgChart a {
    text-decoration: none;
    color: @text-color-dark;
    font-size: 12px;
}
.jOrgChart .node {
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    margin: 0 8px;
}
/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
    height                : 20px;
    width                 : 4px;
  }
  
  .jOrgChart .down {
    background-color 		: black;	
    margin 				: 0px auto;
  }
  
  .jOrgChart .top {
    border-top          : 4px solid black;
  }
  
  .jOrgChart .left {
    border-right          : 4px solid black;
  }
  
  .jOrgChart .right {
    border-left           : 4px solid black;
  }
  
  /* node cell */
  .jOrgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0;
  }
  
  /* The node */
  .jOrgChart .node {
    background-color :@primary-color;
    display               : inline-block;
    width                 : 96px;
    height                : 60px;
    z-index 				: 10;
    margin               : 0 2px;
  }
  
  /* jQuery drag 'n drop */
  
  .drag-active {
    border-style			: dotted !important;
  }
  
  .drop-hover {
    border-style			: solid !important;
    border-color 			: #E05E00 !important;
  }
  