.quant-drop-tree a {
    text-decoration: none;
    color: @text-color-dark;
    font-size: 12px;
}
.quant-drop-tree .node {
  }
  /* Basic styling */
  /* Draw the lines */
  .quant-drop-tree .line {
    height                : 20px;
    width                 : 3px;
  }
  
  .quant-drop-tree .down {
    background-color 		: black;	
    margin 				: 0px auto;
  }
  
  .quant-drop-tree .top {
    border-top          : 3px solid black;
  }
  
  .quant-drop-tree .left {
    border-right          : 3px solid black;
  }
  
  .quant-drop-tree .right {
    border-left           : 3px solid black;
  }
  
  /* node cell */
  .quant-drop-tree td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0;
  }
  
  /* The node */
  .quant-drop-tree .node {
    background-color :@component-background;
    display               : inline-block;
    min-width                 : 96px;
    z-index 				: 10;
    margin               : 0 2px;
    border: 1px solid black;
    border-radius: 4px;
  }
  .quant-drop-tree .node-cell .node{
      border :2px solid gray;
  }
  .quant-drop-tree .node-forbid .node{
      border :2px solid red;
  }
  
  