.HeaderCustom_0{
    background: #fff;
    padding: 0;
    position: fixed;
    z-index: 200;
    width:  calc(~"100% - 0px");;
}
.HeaderCustom_200{
    background: #fff;
    padding: 0;
    position: fixed;
    z-index: 200;
    width:  calc(~"100% - 200px");;
}